html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior-y: contain;
  background-color: #222222;
}

#canvas-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  display: block;
  margin: auto;
}

.block {
  /* border: 1px solid white; */
  user-select: none;
}

#background {
  /* border: 1px solid green; */
  user-select: none;
}

#puzzle {
  /* border: 1px solid red; */
  user-select: none;
}