@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@500&display=swap");
@font-face {
  font-family: "GoodbyeDespair";
  src: url("./fonts/goodbyeDespair.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior-y: contain;
  background-color: #222222;
}

#container {
  width: 100%;
  height: 100%;
}

.board {
  user-select: none;
}

.block {
  user-select: none;
}

.block.selectable {
  cursor: grab;
}

.block.selectable:active {
  cursor: grabbing;
}

.background {
  user-select: none;
  overflow: hidden;
}

svg#moves_box {
  position: absolute;
  display: block;
  left: 50%;
  top: 2%;
  width: 16%;
  transform: translateX(-50%);
  background: linear-gradient(to bottom, #a27e53, #7b5226);
}

svg#moves_box rect {
  fill: #1a1a1a;
  margin: 0;
}

svg#moves_box text {
  font-family: "GoodbyeDespair";
  fill: #f40508;
  text-anchor: end;
}

svg.button {
  z-index: 1;
  position: absolute;
  display: block;
  width: 28%;
  background-color: #1a1a1a;
  cursor: pointer;
}

svg.button text {
  font-family: "GoodbyeDespair";
  text-anchor: middle;
  fill: white;
  font-size: 80%;
  paint-order: stroke;
  stroke: #1a1a1a;
  stroke-width: 3%;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  font-weight: 800;
}

svg#reset rect {
  fill: #05828b;
}

svg#reset {
  left: 2.3%;
  top: 3.1%;
}

svg#quit rect {
  fill: #05828b;
}

svg#quit {
  right: 2.3%;
  top: 3.1%;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 4px solid white;
  border-top: 4px solid lightseagreen;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.puzzle-list {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-type: none;
  margin: 100px 0;
}

.puzzle-list a {
  position: relative;
  display: inline-block;
  padding: 12px;
  color: white;
  font-size: 28px;
  font-family: "Fraunces", serif;
  text-decoration: none;
  transition: transform 0.1s;
}

.puzzle-list a:hover {
  transform: scale(1.1);
}
